---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Conclusion - IOT Final Website">
    <section id="conclusion" class="mt-10">
        <h2 class="text-4xl font-extrabold dark:text-white">Conclusion</h2>
        <p class="my-4 text-lg text-gray-500 text-justify">To conclude, this project makes a strong basis for a Raspberry PI alarm system that can scale to multiple sensors and upload services thanks to the class and dictionary-based approach. To
            extend the features, a remote acknowledgement system through MQTT could be added for the data analysis script to become a true remote-control dashboard of the system.</p>
        <p class="my-4 text-lg text-gray-500 text-justify">This presentation is also available as a video:</p>
        <div class="flex flex-col items-center">
            <iframe class="shadow" src="https://usn.cloud.panopto.eu/Panopto/Pages/Embed.aspx?id=069373d4-1608-4113-b627-b0a201155ed1&autoplay=false&offerviewer=true&showtitle=true&showbrand=true&captions=false&interactivity=all" height="405" width="720" allowfullscreen allow="autoplay" aria-label="Panopto Embedded Video Player"></iframe>
        </div>
    </section>

    <div class="flex justify-center pt-16">
        <a href="/discussion"
           class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
            </svg>
            Previous: Discussion
        </a>
    </div>
</Layout>