---

---

<footer class="bg-white rounded-lg shadow my-8 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
            © 2023 <a href="https://denisd3d.fr/" class="hover:underline">DenisD3D</a>. Project done for the Internet of Things course at the <a href="https://www.usn.no/english/" class="hover:underline">University of South-Eastern Norway</a>
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="https://github.com/DenisD3D" class="hover:underline me-4 md:me-6">Github</a>
            </li>
        </ul>
    </div>
</footer>
